.container {
  max-width: 1080px;
  margin: 20px auto;
}

.container h1 {
  font-size: 1.5rem;
  text-align: center;
}

.time {
  text-align: center;
  justify-self: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
}

footer {
  font-size: .7rem;
  text-align: center;
  margin: 2rem 0 0 0;
  padding-bottom: 0;
  border-bottom: 0;
}

footer:hover {
  font-size: 1rem;
  transform: 5s;
  color: blue;
}

@media screen and (max-width: 460px) {
  .container {
    margin: 20px 1%;
  }

  .container h1 {
    font-size: 1.2rem;
    margin: 10px 1%;
  }
  .time {
    font-size: .9rem;
    margin-bottom: 10px;
  }
  footer {
    font-size: .6rem;
  }
  footer:hover {
    font-size: .8rem;
    transform: 5s;
    color: blue;
  }
}